.bigDaddyContainer {
    display: grid;
    width: 100%;
}

.parenth1Container {
    display: flex;
    justify-content: left;
    width: auto;
}

.childElement {
    text-align: center;
    font-size: 2vw;
    width: 30%;
}

