.parentUserContainer{
    display: grid;
}

.content {
    display: flex;
    text-align: center;
    border-top:solid black;
    width: 100%;
}

.user{
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1vw;
}

.deleteButton {
    height: 3vw;
    width: 7vw;
    align-self: center;
    background-color: red;
    text-align: center;
    font-size: 1vw;
}

@media screen and (max-width: 800px) {
    .deleteButton {
        width: 10vw;
        font-size: 2vw;
    }
    .user{
        font-size: 2vw;
    }
  }